params {
  config_profile_description = 'Pitt HTC cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Fangping Mu'
  config_profile_url = 'https://crc.pitt.edu/'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--bind /zfs1:/zfs1"
}

process {
  executor = 'slurm'
  clusterOptions = { "${params.clusterOptions ?: ''}" }
}

params {
  // saveReference = true
  max_memory = 256.GB
  max_cpus = 16
  max_time = 144.h
  igenomes_base = '/bgfs/genomics/refs/igenomes/'
}

